* {
font-family: Tahoma,'Segoe UI', sans-serif;
background-color: #D6CCA9;
}
img {
    width: 300;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px #A89070;
}
.title{
    text-align: center;
    background-color: #D2B48C;
    box-shadow: 5px 5px #A89070;
}

.back-link{
    font-weight: bold;
    font-size: x-large;
}

li {
    line-height: 150%;
}

.ingredients li{
    line-height: 180%;
}

.list-box {
    display: inline-block;
    width: fit-content;
    vertical-align: text-top;
    margin: 8px;
    padding: 8px;
}

#recipes {
    padding: 8px;
    text-align: center;
}
#recipes li{
    margin: 20px 8px;
    display: inline-block;
    list-style-type:  square;
    align-content: center;
}

#recipes li a, .back-link {
    display:inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 16px 50px;
    font-size: x-large;
    font-weight: bold;
    background-color: #D2B48C;
    box-shadow: 5px 5px #A89070;
    text-decoration: none;
}


